<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Wich movie shows where?</title>
</head>
<body>

<h1>Wich movie shows where?</h1>

<table>
    <tr>
        <th>MovieId</th>
        <th>Title</th>
        <th>Genre</th>
        <th>Year</th>
        <th>Director</th>
    </tr>

    <tr th:each="movie : ${allMovies}">
        <td th:text="${movie.movieId}"></td>
        <td th:text="${movie.title}"></td>
        <td th:text="${movie.genre}"></td>
        <td th:text="${movie.year}"></td>
        <td th:text="${movie.director}"></td>
    </tr>
</table>

</body>

</html>