<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org">

<head th:replace="fragments/general :: baseHeader(~{:: title})">
    <title>Overview of all movies</title>
</head>
<body>

<div th:replace="fragments/general :: navbar"></div>

<div class="container">
    <h1>Overview of all movies</h1>

    <table>
        <tr>
            <th>Title</th>
            <th>Genre</th>
            <th>Year</th>
            <th>Director</th>
            <th sec:authorize="isAuthenticated()">Amount of Cinemas</th>
        </tr>

        <tr th:each="movie : ${allMovies}">
            <td><a th:href="@{/movie/detail/{title}(title=${movie.title})}" th:text="${movie.title}"></a> </td>
            <td th:text="${movie.genre}"></td>
            <td th:text="${movie.year}"></td>
            <td th:text="${movie.allDirectorsDisplayString}"></td>
            <td th:text="${movie.amountInCinemas}"></td>
            <td sec:authorize="isAuthenticated()"><a th:href="@{/cinema/new/{movieId}(movieId=${movie.movieId})}">Add a copy to a cinema</a></td>
        </tr>
    </table>

    <a th:href="@{/movie/new}">Add a Movie</a>
</div>

<div th:replace="fragments/general :: footer"></div>
<div th:replace="fragments/general :: bottomScripts"></div>


</body>

</html>